form {
    background-color: #FCF1E6;
    width: 650px;
    margin: 0 auto;
    text-align: center;
    padding: 100px;
  }
  
  label {
    width: 150px;
    display: inline-block;
    font-weight: bold;
  }
  
  input {
    &[type="text"], &[type="email"], &[type="password"] {
      width: 300px;
      height: 30px;
      padding: 5px;
      font-size: 16px;
    }
  
    &[type="submit"] {
      width: 150px;
      height: 40px;
      background-color: #3513dc;
      color: white;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      margin-top: 20px;
    }
  }
  