.formulario {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(16,22,47,1) 60%);
  display: flex;
  align-items: center;
  justify-content: center;
}
  h4 {
    font-size: 22px;
    margin-bottom: 10px;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    transition: transform .3s ease-in-out;

    &:hover {
      transform: translateX(20px);
    }
  }

  form {
      width: 400px;
      padding: 30px;
      margin: auto;
      margin-top: 100px;
      border-radius: 4px;
      color: white;
      box-shadow: 7px 13px 37px #fff;
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.16);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border: 1px solid rgba(255, 255, 255, 1);
        }

  
  input {
    &[type="text"], &[type="email"], &[type="password"] {
      width: 100%;
      background: $primaryColor;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 5px;
      border: none;
      color: white;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.8);
    }
  
    &[type="submit"] {
      width: 150px;
      height: 40px;
      background-color: #3513dc;
      color: white;
      font-size: 18px;
      border: none;
      border-radius: 15px;
      margin-top: 5px;

      &:hover {
        background: rgb(53,19,220);
        background: linear-gradient(90deg, rgba(53,19,220,1) 0%, rgba(0,0,0,1) 100%);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
      }
    }
  }
  